@model IEnumerable<MVCSQLServerDemo.Models.Opera>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        -
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.OperaID)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Year)</th>
            <th>@Html.DisplayNameFor(model => model.Composer)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.OperaID)</td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Year)</td>
                <td>@Html.DisplayFor(modelItem => item.Composer)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OperaID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OperaID })
                </td>
            </tr>
        }
    </table>
</body>
</html>
